# Database
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=tododb
DATABASE_URL=postgresql://postgres:postgres@db:5432/tododb

# Keycloak Auth
KEYCLOAK_ADMIN=admin
KEYCLOAK_ADMIN_PASSWORD=admin

# Microservice URLs (Internal Docker Network)
RUST_API_URL=http://rust-api:8080
